.roman-checkbox-input, .roman-radio-input{
    display: none;
    -webkit-appearance: none;
}

.roman-user-selection_label{
    position: relative;
    display: inline-block;
    padding: 17px 20px;
    border: 1px solid #D9D2C9;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 700;
    text-align: center;
    color: #333333;
    cursor: pointer;
    margin: 0;

    span{
        font-size: 20px;
    }

    &:before{
        content: "\2713";
        position: absolute;
        top: -6px;
        right: -6px;
        background: #ae1f23;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        display: none;
        color: #ffffff;
        z-index: 5;
    }

    i, img{
        margin-right: 10px;
        vertical-align: middle;
    }

    i{
        font-size: 42px;
    }

    .checkbox-img-md{
        width: 132px;
    }



}


.roman-checkbox-label{
    @extend .roman-user-selection_label;
    &:before{
        border-radius: 2px;
    }
}

.roman-checkbox-label-sm{
    @extend .roman-checkbox-label;
    padding: 12px 15px;

    i{
        font-size: 24px;
    }
    span{
        font-size: 16px;
    }
}

.roman-radio-label{
    @extend .roman-user-selection_label;
    &:before{
        border-radius: 50%;
    }

}

.roman-user-selection_wrapper{
    display: inline-block;
    input[type=checkbox].roman-checkbox-input:checked, input[type=radio].roman-radio-input:checked {
        & + .roman-checkbox-label,  & + .roman-radio-label{
            color: #ae1f23;
            border: 1px solid #ae1f23;

            &:before{
                display: inline-block;
            }
        }
    }
}

.roman-radio-vertical{
    img{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .img-sm{
        width: 52px;
    }

    span{
        display: block;
    }
}
