@media screen and (max-width: 575px) {
    .portfolio-gallery{
        ul.filter-list-menu{
            display: flex;
            white-space: nowrap;
            overflow: auto;

            li{
                margin-right: 15px;

                button{
                    padding: 2px 40px;
                    border-radius: 18px;
                }
                button.active{
                    padding: 2px 40px;
                    border-radius: 18px;
                }
            }

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

}
