*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.section{
    padding: 80px 0;
}
.sub-section{
    padding: 70px 85px;
    text-align: justify;
}
.center-vertically{
    display: flex;
    align-items: center;
    height: 100%;
}
.section-header{
    margin-bottom: 35px;
}

.full-width > .no-gutters{
    margin-left: -15px;
    margin-right: -15px;
}

.inner-page-banner > div{
    position: relative;
}

.form-control:focus{
    border-color: #ae1f23;
    box-shadow: 0 0 0 0.2rem rgb(174 31 35 / 25%);
}

.error-field{
    color: #ae1f23;
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
}
