.section-1{
    .charity-info{
        position: relative;
        z-index: 2;
        padding: 50px 50px 0 50px;
        height: 100%;
        margin-top: 80px;
        margin-left: -100px;
        background-color: #ffffff;
        box-shadow: 0 0px 15px rgb(153 153 153 / 50%);
    }
}

.section-2{
    .charity-info{
        position: relative;
        z-index: 2;
        padding: 50px 50px 0 50px;
        height: 100%;
        margin-top: 80px;
        margin-right: -100px;
        background-color: #ffffff;
        box-shadow: 0 0px 15px rgb(153 153 153 / 50%);
    }
}

.section-1.last-section{
    padding-bottom: 170px;
}

