.toggle.btn-primary{
    color: #fff;
    background-color: #ae1f23;
    border-color: #ae1f23;
}


.toggle .btn-primary{
    color: #fff;
    background-color: #ae1f23;
    border-color: #ae1f23;
}

.toggle.btn.btn-light{
    background-color: #e9ecef;
}

.toggle-off{
    background-color: #e9ecef;
}

//Google Map

#dvMap{
    width: 100%;
    height: 320px;
}

