//Heading CSS
.section-heading{
    font-size: 50px;
    font-weight: 600;
    color: #333333;
}

.heading-sm{
    font-weight: 600;
    font-size: 22px;
}

.heading-md{
    font-weight: 600;
    font-size: 34px;
}

//Paragraph CSS
.section-paragraph{
    font-size: 20px;
    color: #515151;
    word-break: break-word;
}

.paragraph-sm{
    font-size: 14px;
}
//Font-Weight CSS

.fw-100{
    font-weight: 100;
}
.fw-400{
    font-weight: 400;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
//Font-Size Classes

.fs-12{
    font-size: 12px !important;
}

.fs-13{
    font-size: 13px !important;
}

.fs-14{
    font-size: 14px !important;
}

.fs-16{
    font-size: 16px !important;
}

.fs-17{
    font-size: 17px !important;
}

.fs-18{
    font-size: 18px !important;
}

.fs-20{
    font-size: 20px !important;
}

.fs-100{
    font-size: 100px !important;
}
