@font-face {
  font-family: 'odiefont';
  src:  url('../fonts/odiefont.eot?og3etk');
  src:  url('../fonts/odiefont.eot?og3etk#iefix') format('embedded-opentype'),
    url('../fonts/odiefont.woff2?og3etk') format('woff2'),
    url('../fonts/odiefont.ttf?og3etk') format('truetype'),
    url('../fonts/odiefont.woff?og3etk') format('woff'),
    url('../fonts/odiefont.svg?og3etk#odiefont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fod {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'odiefont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fod-add-user:before {
  content: "\e900";

}
.fod-age-roof:before {
  content: "\e901";

}
.fod-alert:before {
  content: "\e902";

}
.fod-angle-down:before {
  content: "\e903";

}
.fod-angle-left:before {
  content: "\e904";

}
.fod-angle-right:before {
  content: "\e905";

}
.fod-angle-up:before {
  content: "\e906";

}
.fod-angry-face:before {
  content: "\e907";

}
.fod-antenna:before {
  content: "\e908";

}
.fod-anxious-face:before {
  content: "\e909";

}
.fod-arrow-down:before {
  content: "\e90a";

}
.fod-arrow-left:before {
  content: "\e90b";

}
.fod-arrow-right:before {
  content: "\e90c";

}
.fod-arrow-up:before {
  content: "\e90d";

}
.fod-assessment:before {
  content: "\e90e";

}
.fod-attachment-to-proposal:before {
  content: "\e90f";

}
.fod-attic-ventilation:before {
  content: "\e910";

}
.fod-auto:before {
  content: "\e911";

}
.fod-bird-eye-view:before {
  content: "\e912";

}
.fod-birthdate:before {
  content: "\e913";

}
.fod-blueprint:before {
  content: "\e914";

}
.fod-boat-house:before {
  content: "\e915";

}
.fod-boot:before {
  content: "\e916";

}
.fod-build-buildsheet:before {
  content: "\e917";

}
.fod-building-commercial:before {
  content: "\e918";

}
.fod-buildsheet:before {
  content: "\e919";

}
.fod-calculator:before {
  content: "\e91a";

}
.fod-calendar:before {
  content: "\e91b";

}
.fod-calendar-1:before {
  content: "\e91c";

}
.fod-camera:before {
  content: "\e91d";

}
.fod-caret-down-solid:before {
  content: "\e91e";

}
.fod-caret-right-solid:before {
  content: "\e91f";

}
.fod-car-front:before {
  content: "\e920";

}
.fod-car-port:before {
  content: "\e921";

}
.fod-check:before {
  content: "\e922";

}
.fod-chimney:before {
  content: "\e923";

}
.fod-cleaning-maintenance:before {
  content: "\e924";

}
.fod-clock-solid:before {
  content: "\e925";

}
.fod-close-deal:before {
  content: "\e926";

}
.fod-communications:before {
  content: "\e927";

}
.fod-company:before {
  content: "\e928";

}
.fod-compress:before {
  content: "\e929";

}
.fod-conditional-images:before {
  content: "\e92a";

}
.fod-contact-assessment:before {
  content: "\e92b";

}
.fod-cricket:before {
  content: "\e92c";

}
.fod-cupola:before {
  content: "\e92d";

}
.fod-customize:before {
  content: "\e92e";

}
.fod-damage-house:before {
  content: "\e92f";

}
.fod-dashboard:before {
  content: "\e930";

}
.fod-dead-lead:before {
  content: "\e931";

}
.fod-degree:before {
  content: "\e932";

}
.fod-delivered:before {
  content: "\e933";

}
.fod-detached-garage:before {
  content: "\e934";

}
.fod-details:before {
  content: "\e935";

}
.fod-diffcult-sentiment:before {
  content: "\e936";

}
.fod-dish:before {
  content: "\e937";

}
.fod-distance:before {
  content: "\e938";

}
.fod-dollar-sign:before {
  content: "\e939";

}
.fod-double-angle-down:before {
  content: "\e93a";

}
.fod-double-angle-left:before {
  content: "\e93b";

}
.fod-double-angle-right:before {
  content: "\e93c";

}
.fod-double-angle-up:before {
  content: "\e93d";

}
.fod-download:before {
  content: "\e93e";

}
.fod-downpayment:before {
  content: "\e93f";

}
.fod-drip-edge:before {
  content: "\e940";

}
.fod-electricity-bill:before {
  content: "\e941";

}
.fod-envelope:before {
  content: "\e942";

}
.fod-estimating-exact:before {
  content: "\e943";

}
.fod-estimation:before {
  content: "\e944";

}
.fod-ethnicity:before {
  content: "\e945";

}
.fod-exhaust-ventilation:before {
  content: "\e946";

}
.fod-expand:before {
  content: "\e947";

}
.fod-express-delivery:before {
  content: "\e948";

}
.fod-facebook-solid:before {
  content: "\e949";

}
.fod-facet:before {
  content: "\e94a";

}
.fod-facets:before {
  content: "\e94b";

}
.fod-female:before {
  content: "\e94c";

}
.fod-financing:before {
  content: "\e94d";

}
.fod-finial:before {
  content: "\e94e";

}
.fod-flame:before {
  content: "\e94f";

}
.fod-flat:before {
  content: "\e950";

}
.fod-foam-tiles:before {
  content: "\e951";

}
.fod-folder-solid:before {
  content: "\e952";

}
.fod-for-sale-house:before {
  content: "\e953";

}
.fod-frown-face:before {
  content: "\e954";

}
.fod-fuzzy:before {
  content: "\e955";

}
.fod-gass-mask:before {
  content: "\e956";

}
.fod-gated-community:before {
  content: "\e957";

}
.fod-ghost:before {
  content: "\e958";

}
.fod-gooseneck-vent:before {
  content: "\e959";

}
.fod-green-daylight:before {
  content: "\e95a";

}
.fod-greenhouse:before {
  content: "\e95b";

}
.fod-guest-house:before {
  content: "\e95c";

}
.fod-gutter:before {
  content: "\e95d";

}
.fod-hail:before {
  content: "\e95e";

}
.fod-halo:before {
  content: "\e95f";

}
.fod-happy-face:before {
  content: "\e960";

}
.fod-harvester:before {
  content: "\e961";

}
.fod-heart:before {
  content: "\e962";

}
.fod-high-maintenance:before {
  content: "\e963";

}
.fod-home:before {
  content: "\e964";

}
.fod-home-solar:before {
  content: "\e965";

}
.fod-home-town:before {
  content: "\e966";

}
.fod-hot-water:before {
  content: "\e967";

}
.fod-house-location:before {
  content: "\e968";

}
.fod-hurricane:before {
  content: "\e969";

}
.fod-hybrid-receiving:before {
  content: "\e96a";

}
.fod-image:before {
  content: "\e96b";

}
.fod-individual:before {
  content: "\e96c";

}
.fod-industrial:before {
  content: "\e96d";

}
.fod-info-filled:before {
  content: "\e96e";

}
.fod-info-normal:before {
  content: "\e96f";

}
.fod-in-person:before {
  content: "\e970";

}
.fod-in-person-1:before {
  content: "\e971";

}
.fod-instagram:before {
  content: "\e972";

}
.fod-intake-ventilation:before {
  content: "\e973";

}
.fod-integrated-solar:before {
  content: "\e974";

}
.fod-interior:before {
  content: "\e975";

}
.fod-jobs:before {
  content: "\e976";

}
.fod-knock:before {
  content: "\e977";

}
.fod-language:before {
  content: "\e978";

}
.fod-laugh-face:before {
  content: "\e979";

}
.fod-lead:before {
  content: "\e97a";

}
.fod-lifestyle:before {
  content: "\e97b";

}
.fod-linkedin-solid:before {
  content: "\e97c";

}
.fod-lock:before {
  content: "\e97d";

}
.fod-login-invitation:before {
  content: "\e97e";

}
.fod-logout:before {
  content: "\e97f";

}
.fod-mailbox:before {
  content: "\e980";

}
.fod-main-house:before {
  content: "\e981";

}
.fod-male:before {
  content: "\e982";

}
.fod-map-marker:before {
  content: "\e983";

}
.fod-mask:before {
  content: "\e984";

}
.fod-maximus:before {
  content: "\e985";

}
.fod-measurement:before {
  content: "\e986";

}
.fod-media-library:before {
  content: "\e987";

}
.fod-meh-face:before {
  content: "\e988";

}
.fod-metal:before {
  content: "\e989";

}
.fod-minus:before {
  content: "\e98a";

}
.fod-minus-thin:before {
  content: "\e98b";

}
.fod-mobile:before {
  content: "\e98c";

}
.fod-more:before {
  content: "\e98d";

}
.fod-multi-family:before {
  content: "\e98e";

}
.fod-need-assessment:before {
  content: "\e98f";

}
.fod-new-roof:before {
  content: "\e990";

}
.fod-notifications:before {
  content: "\e991";

}
.fod-objects-on-roof:before {
  content: "\e992";

}
.fod-one-story:before {
  content: "\e993";

}
.fod-opportunities:before {
  content: "\e994";

}
.fod-others-commercial:before {
  content: "\e995";

}
.fod-others-residential:before {
  content: "\e996";

}
.fod-pause-square:before {
  content: "\e997";

}
.fod-pencil:before {
  content: "\e998";

}
.fod-percentage:before {
  content: "\e999";

}
.fod-phone:before {
  content: "\e99a";

}
.fod-pitch:before {
  content: "\e99b";

}
.fod-play-square:before {
  content: "\e99c";

}
.fod-plus:before {
  content: "\e99d";

}
.fod-plus-thin:before {
  content: "\e99e";

}
.fod-pool:before {
  content: "\e99f";

}
.fod-pool-house:before {
  content: "\e9a0";

}
.fod-pool-solar-cluster:before {
  content: "\e9a1";

}
.fod-posh:before {
  content: "\e9a2";

}
.fod-powerpole:before {
  content: "\e9a3";

}
.fod-property-agents:before {
  content: "\e9a4";

}
.fod-property-builders:before {
  content: "\e9a5";

}
.fod-property-managers:before {
  content: "\e9a6";

}
.fod-property-professional:before {
  content: "\e9a7";

}
.fod-property-remodellers:before {
  content: "\e9a8";

}
.fod-property-value:before {
  content: "\e9a9";

}
.fod-proposal:before {
  content: "\e9aa";

}
.fod-prospect:before {
  content: "\e9ab";

}
.fod-question-circle:before {
  content: "\e9ac";

}
.fod-question-circle-solid:before {
  content: "\e9ad";

}
.fod-question-solid:before {
  content: "\e9ae";

}
.fod-quick-quote:before {
  content: "\e9af";

}
.fod-rainwater-drainage:before {
  content: "\e9b0";

}
.fod-religion:before {
  content: "\e9b1";

}
.fod-reminder:before {
  content: "\e9b2";

}
.fod-repair-roof:before {
  content: "\e9b3";

}
.fod-re-roof:before {
  content: "\e9b4";

}
.fod-reset:before {
  content: "\e9b5";

}
.fod-ridge-turret:before {
  content: "\e9b6";

}
.fod-rolled-tpo:before {
  content: "\e9b7";

}
.fod-roofable-structure:before {
  content: "\e9b8";

}
.fod-roof-age-eight:before {
  content: "\e9b9";

}
.fod-roof-age-eighteen:before {
  content: "\e9ba";

}
.fod-roof-age-eleven:before {
  content: "\e9bb";

}
.fod-roof-age-fifteen:before {
  content: "\e9bc";

}
.fod-roof-age-five:before {
  content: "\e9bd";

}
.fod-roof-age-four:before {
  content: "\e9be";

}
.fod-roof-age-fourteen:before {
  content: "\e9bf";

}
.fod-roof-age-nine:before {
  content: "\e9c0";

}
.fod-roof-age-nineteen:before {
  content: "\e9c1";

}
.fod-roof-age-one:before {
  content: "\e9c2";

}
.fod-roof-age-seven:before {
  content: "\e9c3";

}
.fod-roof-age-seventeen:before {
  content: "\e9c4";

}
.fod-roof-age-six:before {
  content: "\e9c5";

}
.fod-roof-age-sixteen:before {
  content: "\e9c6";

}
.fod-roof-age-ten:before {
  content: "\e9c7";

}
.fod-roof-age-thirteen:before {
  content: "\e9c8";

}
.fod-roof-age-thirty:before {
  content: "\e9c9";

}
.fod-roof-age-thirtyone:before {
  content: "\e9ca";

}
.fod-roof-age-thirtytwo:before {
  content: "\e9cb";

}
.fod-roof-age-three:before {
  content: "\e9cc";

}
.fod-roof-age-twelve:before {
  content: "\e9cd";

}
.fod-roof-age-twenty:before {
  content: "\e9ce";

}
.fod-roof-age-twentyeight:before {
  content: "\e9cf";

}
.fod-roof-age-twentyfive:before {
  content: "\e9d0";

}
.fod-roof-age-twentyfour:before {
  content: "\e9d1";

}
.fod-roof-age-twentynine:before {
  content: "\e9d2";

}
.fod-roof-age-twentyone:before {
  content: "\e9d3";

}
.fod-roof-age-twentyone-plus:before {
  content: "\e9d4";

}
.fod-roof-age-twentyseven:before {
  content: "\e9d5";

}
.fod-roof-age-twentysix:before {
  content: "\e9d6";

}
.fod-roof-age-twentythree:before {
  content: "\e9d7";

}
.fod-roof-age-twentytwo:before {
  content: "\e9d8";

}
.fod-roof-age-two:before {
  content: "\e9d9";

}
.fod-roof-inspection:before {
  content: "\e9da";

}
.fod-roof-itemization:before {
  content: "\e9db";

}
.fod-roof-over:before {
  content: "\e9dc";

}
.fod-roof-system:before {
  content: "\e9dd";

}
.fod-roof-takeoff:before {
  content: "\e9de";

}
.fod-rr-flag:before {
  content: "\e9df";

}
.fod-sand-clock:before {
  content: "\e9e0";

}
.fod-save:before {
  content: "\e9e1";

}
.fod-scheduling:before {
  content: "\e9e2";

}
.fod-school:before {
  content: "\e9e3";

}
.fod-screws-tiles:before {
  content: "\e9e4";

}
.fod-search:before {
  content: "\e9e5";

}
.fod-settings:before {
  content: "\e9e6";

}
.fod-share:before {
  content: "\e9e7";

}
.fod-shed:before {
  content: "\e9e8";

}
.fod-shingle:before {
  content: "\e9e9";

}
.fod-sign-document:before {
  content: "\e9ea";

}
.fod-single-family-house:before {
  content: "\e9eb";

}
.fod-skylight:before {
  content: "\e9ec";

}
.fod-sms:before {
  content: "\e9ed";

}
.fod-snow-cleats:before {
  content: "\e9ee";

}
.fod-snow-cold:before {
  content: "\e9ef";

}
.fod-sofit-continuos:before {
  content: "\e9f0";

}
.fod-solar:before {
  content: "\e9f1";

}
.fod-solar-attic-fan:before {
  content: "\e9f2";

}
.fod-solar-tube:before {
  content: "\e9f3";

}
.fod-square-unit:before {
  content: "\e9f4";

}
.fod-star-solid:before {
  content: "\e9f5";

}
.fod-stop-square:before {
  content: "\e9f6";

}
.fod-street-view:before {
  content: "\e9f7";

}
.fod-system-warranty:before {
  content: "\e9f8";

}
.fod-tarp:before {
  content: "\e9f9";

}
.fod-telephone:before {
  content: "\e9fa";

}
.fod-third-nail:before {
  content: "\e9fb";

}
.fod-three-stories:before {
  content: "\e9fc";

}
.fod-thumbs-down:before {
  content: "\e9fd";

}
.fod-thumbs-up:before {
  content: "\e9fe";

}
.fod-tile:before {
  content: "\e9ff";

}
.fod-times:before {
  content: "\ea00";

}
.fod-tired-face:before {
  content: "\ea01";

}
.fod-trade-show:before {
  content: "\ea02";

}
.fod-trash-solid:before {
  content: "\ea03";

}
.fod-trash-solid-1:before {
  content: "\ea04";

}
.fod-trees:before {
  content: "\ea05";

}
.fod-twitter-solid:before {
  content: "\ea06";

}
.fod-two-stories:before {
  content: "\ea07";

}
.fod-users:before {
  content: "\ea08";

}
.fod-video:before {
  content: "\ea09";

}
.fod-view:before {
  content: "\ea0a";

}
.fod-view-buildsheet:before {
  content: "\ea0b";

}
.fod-vip-1:before {
  content: "\ea0c";

}
.fod-vip-2:before {
  content: "\ea0d";

}
.fod-voicemail:before {
  content: "\ea0e";

}
.fod-water-drop:before {
  content: "\ea0f";

}
.fod-whatsapp:before {
  content: "\ea10";

}
.fod-wind-mitigation:before {
  content: "\ea11";

}
.fod-wind-turbine:before {
  content: "\ea12";

}
.fod-work:before {
  content: "\ea13";

}
.fod-workmanship:before {
  content: "\ea14";

}
