@import "buttons/checkbox-and-radio-btns";

.btn-primary-roman{
    display: inline-block;
    background: #ae1f23;
    border: 1px solid #ae1f23;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;

    &:hover{
        background-color: #ae1f23;
        color: #ffffff;
        border: 1px solid #ae1f23;
    }
}

.btn-primary-roman-white{
    display: inline-block;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #ae1f23;
    border-radius: 5px;
    padding: 10px 25px;

    &:hover{
        background-color: #ffffff;
        color: #ae1f23;
        border: 1px solid #ffffff;
    }
}

.btn-secondary-roman{
    display: inline-block;
    background: #ffffff;
    border: 1px solid #ae1f23;
    color: #333333;
    border-radius: 5px;
    padding: 10px 25px;

    &:hover{
        background-color: #ffffff;
        color: #333333;
        border: 1px solid #ae1f23;
    }
}

.btn-tertiary-roman{
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #333333;
    border-radius: 5px;
    padding: 10px 25px;

    &:hover{
        background-color: #f1f1f1;
        color: #333333;
        border: 1px solid #f1f1f1;
    }
}

.btn-transparent{
    display: inline-block;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;

    &:hover{
        background-color: #ae1f23;
        color: #ffffff;
        border: 1px solid #ae1f23;
    }
}

button.disabled{
    pointer-events: none;
    opacity: .65;
}
