.inner-page-banner{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 91% ;
    display: flex;
    align-items: center;
    min-height: 220px;

}
