.testimonials.all-feedback{

    .feedback-wrapper{
        margin-bottom: 70px;

        .feedback-text-box{
            position: relative;
            border-radius: 5px;
            margin-bottom: 50px;
            border: 1px solid #adb5bd;

            &:before{
                content: "";
                position: absolute;
                top: 100%;
                right: 75%;
                bottom: -11%;
                left: 18%;
                background-color: #adb5bd;
                clip-path: polygon(100% 0, 100% 3%, 3% 100%, 0% 100%);
            }

            &:after{
                content: "";
                position: absolute;
                top: 100%;
                right: 75%;
                bottom: -11%;
                left: 18%;
                background-color: #f8f8f8;
                border-left: 1px solid #adb5bd;
                clip-path: polygon(0 0, 0% 100%, 100% 0);
            }
        }
    }
}

