@media screen and (max-width: 991px){

    .parallax-img-city{
        height: 400px;
        background-attachment: initial;
    }
    //.city-intro{
    //    .city-service-info{
    //        p{
    //            padding: 20px 0;
    //            margin-bottom: 0 !important;
    //        }
    //    }
    //}

    .city-roofing-varieties{
        .city-roofing-variety-cards{
            .card{
                margin-bottom: 20px;
            }
        }
    }

    .city-services{
        .services{
            .service-type{
                margin-bottom: 20px;
            }
        }
    }


    .city-service-reviews{
        .city-reviews-carousel.owl-carousel.owl-theme{

            .item{
                .city-job-bio{
                    margin-bottom: 20px;
                }
                .reviewer-info{

                    .media{
                        flex-direction: column;

                        img{
                            width: 100%;
                            height: auto;
                            margin-bottom: 15px;
                        }

                        .media-body{
                            width: 100%;
                            text-align: center;

                            .stars{
                                margin-bottom: 15px;

                                i{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    .review-source{
                        position: static;
                        width: auto;

                        h2{
                            font-size: 20px;
                            text-align: center;
                        }
                    }
                }
            }
            .owl-nav{
                position: static;
                width: auto;
                top: initial;
                display: block;
                margin-top: 30px;

                button.owl-prev, button.owl-next{
                    position: static;
                }
            }
        }
    }
}
