@media screen and (max-width: 575px) {
    //Custom Classes
    .banner-title{
        font-size: 30px;
    }
    .banner-description{
        font-size: 16px;
    }
    .btn-primary-roman{
        padding: 5px 15px;
    }
    .btn-secondary-roman{
        padding: 5px 15px;
    }
    .btn-tertiary-roman{
        padding: 5px 15px;
    }
    .sub-section {
        padding: 50px 40px;
    }
    .section-heading{
        font-size: 26px;
    }
    .heading-md{
        font-size: 20px;
    }
    .section-paragraph{
        font-size: 14px;
    }
    .fancy-border{
        &:before, &:after{
            width: 50px;
        }
    }
    //Custom Classes CSS End

    .main-menu{
        .menu-wrapper{
            .navbar.navbar-light{
                .navbar-collapse{
                    .navbar-nav{
                        .nav-link{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .testimonials{
        .feedback-text-box{
            &:before, &:after{
                top: 100%;
                bottom: -10%;
                left: 23%;
                right: 70%;
            }
        }
    }
    .stats{
        .stats-wrapper{
            .stat-box{

                .stat-icon{
                    font-size: 45px;
                }
                .stat-count, .stat-label{
                    font-size: 16px;
                }
            }
        }
    }
}
