@media screen and (max-width: 1199px){
    .main-menu, .main-menu-fixed, .main-menu-secondary{
        .menu-wrapper{
            .navbar.navbar-light{
                width: 100% !important;
            }
        }
    }
}
