@media screen and (max-width: 991px) {

   .main-menu, .main-menu-secondary{
        .menu-wrapper{
            .navbar.navbar-light{
                width: 100%;
            }
        }
    }
    //Custom Classes
    .banner-title{
        font-size: 40px;
    }
    .banner-description{
        font-size: 19px;
    }
    //Custom Classes End


}


@media screen and (min-width: 1200px) {
    .hamburger{
        display: none;
    }
    .main-menu, .main-menu-fixed{
        .menu-wrapper{
            .navbar.navbar-light{
                width: 80%;
            }
        }
    }
    .menu-no-cost-btn{
        a{
            padding: 10px 17px;
        }
    }
}
