@media screen and (max-width: 767px) {
    .top-bar{
        display: none;
    }

    .user-selection-inline-to-mobile{
        .checkbox-img-md{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
@media screen  and (max-width: 768px){
    //Custom Classes
        .banner-title{
            font-size: 46px;
        }
        .banner-description{
            font-size: 23px;
        }
        .section-heading{
            font-size: 38px;
        }
        .heading-md{
            font-size: 28px;
        }
        .section-paragraph{
            text-align: justify !important;
        }
    //Custom Classes End

    .main-menu, .main-menu-fixed, .main-menu-secondary{
        .menu-wrapper{
            .navbar.navbar-light{
                width: 100%;
            }
        }
    }
    .banner {
        height: auto;
        margin-top: -377px;
        padding: 390px 0 50px 0;

        .banner-carousel.owl-carousel.owl-theme{
            .owl-nav{
                display: none;
            }
        }
    }
    .service-card{
        margin-bottom: 35px;
    }
    .testimonials{
        .feedback-text-box{
            &:before, &:after{
                top: calc(100% - 1px);
                right: 75%;
                bottom: -13%;
                left: 19%;
            }
        }
    }
    .stats{
        .stats-wrapper{
            flex-wrap: wrap;
            .stat-box{
                flex-basis: 50%;
                &:nth-child(2){
                    &:after{
                        width: 0;
                    }
                }
                .stat-icon{
                    font-size: 60px;
                }
                .stat-count, .stat-label{
                    font-size: 24px;
                }
            }
        }
    }

    footer{
        .footer-mid.bg-grey{
            h1.primary-black{
                font-size: 19px;
                margin-bottom: 15px !important;
            }
        }

        .footer-bottom-bar{
            padding: 15px 0 !important;

            .copyrights{
                ul{
                    text-align: center;
                }
            }
            ul.footer-social-icons{
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}
