/******** GLOBAL **********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 100%
}

ul {
    list-style: none
}

a:active, a:focus, button:active, button:focus {
    outline: none
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label {
    margin-bottom:.5em;
}
section {
    overflow: hidden;
}
section.container {
    padding-top:35px;
    padding-bottom:35px;
}
h1, h2, h3, h4, h5, h6 {
    color: #191919;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    margin: 0 0 .7em 0;
    line-height: 1.2em;
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.6em;
}

h4 { 
    font-size: 2.2em;
}

a, a:visited {
    color: #191919;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    color: #000;
    outline: 0;
    text-decoration: none;
}

a.estimate { 
    background: #ae1f23;
}
.form-check {
    margin-bottom:10px;
}
a.button {
    padding: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

a.outline {
    -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
    -moz-box-shadow:inset 0px 0px 0px 2px #fff;
    box-shadow:inset 0px 0px 0px 2px #fff;
}

a.outline:hover {
    background: #ae1f23;
    color: #fff;
    border: none;
    box-shadow: none;
}
.centered {
    text-align: center;   
}
section#portfolio .full a.outline:hover {
    background: #ae1f23;
    color: #fff;
    border: none;
    box-shadow: none;
}

.content {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}
.contentWide {
    max-width: 1370px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}
section#home-swiper-container {
    position:relative;
    overflow: visible;
}
.sidebar .card {
    margin-bottom:15px;
}
#home-swiper-container {
      position: relative;
      height: 950px;
    }
    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
      text-align: center;      
    }
    .gallery-top {
      height: 85%;
      width: 100%;
      cursor:grab;
    }
    .gallery-top .content {
        padding: 200px 0 20px 0 ;
    }
    .gallery-top p {
        max-width: 725px;
        margin: 0 auto;
        font-size: 2em;
        font-weight: bold;
        color: #fff;
        line-height: 1.3em;
        text-shadow:0px 0px 10px rgba(0,0,0,0.6),0px 0px 20px rgba(0,0,0,0.3);
    }
    .gallery-top .button {
        display: inline-block;
    }
    .gallery-top .outline {
        margin-top:10px;background-color:rgba(0,0,0,.15);
    }
    .gallery-top hr {
        width: 120px;
        border: none;
        height: 2px;
        background: #ae1f23;
        margin: 0 auto 30px;
    }
    .gallery-top h1 {
        font-size: 7em;
        color:white;
        margin: 0 0 30px 0;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.6),0px 0px 20px rgba(0,0,0,0.3);
        font-family: inherit;
        font-weight: bold;
        text-rendering: optimizelegibility;
        line-height:1.1em;
    }
    .gallery-thumbs {
      height: 15%;
      box-sizing: border-box;
      padding: 0px 0px 0 0;
    }
    .gallery-thumbs i {
        font-size: 40px;
        color: white;
        margin-top: 12%;
        opacity: .4;
        margin-bottom:10px;
    }
    .gallery-thumbs p {
        color:white;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      cursor: pointer;
      background-color:#ae1f23;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      background-color:#8f0a0e;
    }
p {
    line-height: 1.3em;
    color: #191919;
    margin: 0 0 1.3em 0;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

strong {
    font-weight: bold;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float:right;
}

.clearer {
    clear: both;
}

img {
    max-width: 100%;
}

input:focus,select:focus, textarea:focus, button:focus {
    outline: none;
}

.red {
    color: #ae1f23;
}

/******** HEADER **********/

header {
    position: fixed;
    top: 0;
    background: #fff;
    color: #7e7e7e;
    height: 80px;
    z-index: 99;
    width: 100%;
    padding: 0 30px;
}

.active {
    background-color: rgba(34, 34, 34, 0.8);
}

.logo {
    padding: 15px 0 10px ;
}

.logo img {
    width: 100%;
    max-width: 150px;
}

/******** NAVBAR *********/
.navbar-right {
    background-color: transparent;
}
#topnav {
    top:40px !important;
}
#nav-contact {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    z-index: 10000;
    background-color:#333;
}
#nav-contact .btn, #nav-contact span {
    color:#ccc;
    font-size:14px;
}
#nav-contact span {
    display: inline-block;
    float: right;
    padding:.5rem .5rem;
}
#sidebar .grey {
    padding: 55px 25px 55px 25px;
    background: #fafafa;
    text-align: center;
}
#sidebar .panel {
    margin:55px 0;
}
#topnav .navbar-nav a {
    color: #000000;
    padding: 20px 13px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
#topnav li.active {
    font-weight:bold;
    background-color:transparent;
}
#topnav .dropdown-item {
    padding:20px 16px;
}
#topnav .navbar-right {
    margin-left:0 !important;
}
.rightnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
}
.content-photo {
    margin:55px auto;
    text-align: center;
}
.active {
    background-color: #4CAF50;
    color: white;
}

.estimate-btn, .estimate-btn:hover {
    background-color: #ae1f23;
    border-radius: 5px;
    color: #ffffff !important;
    font-size:16px;  
}

.phone-link:hover {
    color: #000000 !important;
}

.phone-link {    
    font-size: 1em;
    background-color: transparent;
    margin-right: 10px;
    padding-top: 0px;
    display: block;
    margin-top: 9px;
    float: right;
    color:#ccc;
}
.phone-link i {
    margin-right:4px;
    color:#ccc;
}

/******** SHOWCASE **********/
#showcase p {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 0 0 55px 0;
}

#showcase a.outline {
    margin-left: 15px;
}
#showcase {
    background-size: cover;
    min-height: 90vh;
    padding: 250px 0 70px 0 ;
    text-align: center;
}
#showcase h1, #showcase p {
    text-shadow:0px 0px 10px rgba(0,0,0,0.6),0px 0px 20px rgba(0,0,0,0.3);
}
#pageArea .showcase-md {
    min-height: 70vh;
    padding: 250px 0 70px 0 ;
}
#pageArea .showcase-sm {
    min-height: 40vh;
    padding: 180px 0 70px 0 ;
}

/********* HOME ***********/
#home #showcase {
    background: url('../images/bg-showcase.jpg') center 50px no-repeat;
}

#home #showcase p.bottom {
    font-size: 1em;
    margin: 175px 0 0 0;
}
#home #stats {
    padding-top:55px;
    padding-bottom:25px;
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;
    margin-bottom: 55px;
}
#tab-reviews .nav-link {
    padding:25px 15px;
    font-weight:bold;
    font-size:18px;
}
#tab-reviews .nav-link.active {
    background-color:#ae1f23;
}
#tab-reviews-content .tab-pane {
    background-color:white;
    padding:25px;
    color:black;
    border-top:1px solid #ccc;
    margin-top:10px;
}
#tab-reviews-content .review {
    max-width:65%;
    margin:15px auto;
    text-align: left;
    padding-bottom:15px;
    border-bottom:1px solid #ccc;
    margin-bottom:25px;
}
#tab-reviews-content .review img {
    float:left;
    width:75px;
    margin-right:15px;
}
#tab-reviews-content .review .name {
    font-weight:bold;
    color:black;
    margin-bottom:5px;
}
#tab-reviews-content .review .date {
    color: #999;
    font-size:14px;
}
#tab-reviews-content .review .stars {
    margin-bottom:5px;
}
#tab-reviews-content .review .stars i {
    color:#ffdf29;
}
#tab-reviews-content .review blockquote {
    margin-left:90px;
    margin-bottom:25px;
}
#tab-reviews-content .review a {
    color:#1a0dab;
    margin-left:90px;
    text-decoration:underline;
    font-size:14px;
}

/******** NEW ROOF PAGE **********/

#newroof-page #showcase {
    background: url('../images/bg-newconstruction.jpg') no-repeat center center;
}
/******** NEWS PAGE **********/

#news #showcase {
    background: url('../images/bg-about.jpg') no-repeat center center;
}
#news .article {
    padding-top:25px;
    padding-bottom:25px;
}
#news .article img {
    max-width:200px;
    float:left;
    margin-right:20px;
    margin-bottom:15px;
}
#news .row {
    border-bottom:1px solid #ccc;
    margin-bottom:35px;
}
#news .article:first-child {
    padding-top:0;
}
#news .list-group {
    margin-bottom:25px;
}

/******** EMPLOYMENT PAGE **********/

#employment #showcase {
    background: url('../images/bg-about.jpg') no-repeat center center;
}
#employment article {
    padding-top:25px;
    padding-bottom:25px;
}
#employment .row {
    border-bottom:1px solid #ccc;
    margin-bottom:35px;
}
#employment article:first-child {
    padding-top:0;
}
#employment .list-group {
    margin-bottom:25px;
}
/******** ESTIMATE PAGE *********/
#estimate-form {
    padding-top:55px;
    padding-bottom:55px;
}

/******** PROBLEM **********/
section#problem {
    padding: 75px 0;
    text-align: center;
}

section#problem h1 {
    margin-top: 30px;
}

section#problem p {
    max-width: 795px;
    margin: 0 auto;
}
section#accolade-bar {
    text-align: center;
    margin-bottom:20px;
    margin-top:20px;
}
section#accolade-bar a {
    width:13.3%;
    display: inline-block;
    padding:1%;
}

/******** SERVICES **********/
section#services {
    background: url('../images/bg-services.jpg') top center repeat-x #f9f9f9; 
    padding-bottom: 125px;
    text-align: center;
}

section#services .threeCol {
    display: block;
    margin: 0 0 100px 0;
}

section#services .threeCol .col {
    vertical-align: top;
}

section#services .col {
    width: 30%;
    max-width: 375px;   
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

section#services .list {
    padding: 35px;
    min-height: 240px;
    background: #fff;
    margin-top: -2px;
}

section#services ul li {
    text-align: left;
    margin: 0 0 15px 0;
    display: block;
    width: 100%;
    font-size: 1.5em;
}

section#services ul li img {
    vertical-align: middle;
    overflow: hidden;
}

section#services .col p {
    padding: 0 25px;
}

section#services a {
    display: block;
    margin: 50px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

section#services .two {
    margin-left: 5%;
}

section#services .three {
    margin-left: 5%;
}

section#services img.shadow {
    width: 100%;
    text-align: center;
}

/******** TRUSTED **********/
section#trusted {
    padding: 75px 0;
    background: #fff;
    text-align: center;
}

section.twoCol .left {
    width: 50%;
    float: left;
}   

section.twoCol .right {
    width: 50%;
    float: right;
}

section#trusted .right {
    padding: 150px 0 0 0;
    max-width: 545px;
}

/******** EXPERIENCE **********/
section#experience {
    padding: 75px 0;
    background: #f7f7f7;
    text-align: center;
}

section#experience .left {
    padding: 150px 0 0 0;
    max-width: 545px;
}

section#experience .right img {
    max-height: 600px;
}


/******** FINANCING **********/
section#financing {
    padding: 125px 0;
    background: #fff;
    text-align: center;
}

section#financing .right {
    padding: 100px 0 0 0;
    max-width: 545px;
}

section#financing a {
    display: block;
    margin: 50px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

/******** PORTFOLIO **********/
section#portfolio {
    text-align: center;
    background:#fdfbfb;
}

section#portfolio .gallery {
    max-height: 900px;
    height: 60vw;
}

section#portfolio .overlay h3 {
    font-size: 1em;
    margin-bottom: 5px;
}
section#portfolio .overlay p {
    font-size: .75em;
}

section#portfolio .overlay img, section#portfolio .overlay h3, section#portfolio .overlay p, section#portfolio .overlay .bg {
    visibility: hidden;
    display: none;
}

section#portfolio .overlay {
    height: 100%;
    text-align: center;
    display: block;
    -o-transition: 2.5s;
    -ms-transition: 2.5s;
    -moz-transition: 2.5s;
    -webkit-transition: 2.5s;
    /* ...and now for the proper property */
    transition: 2.5s;
    width: 100%;
    position: relative;
}

section#portfolio a .overlay img {
    width: 20%;
    position: absolute;
    margin-left: 40%;
    top: 40%;
}

section#portfolio a.two .overlay img {
    top: 30%;
}

section#portfolio .overlay .text {
    width: 90%;
    position: absolute;
    bottom: 20px;
    margin-left: 5%;
}

section#portfolio .one {
    width: 50%;
    /* height: 100%; */
    float: left;
    /* background: url('../images/portfolio-thumb1.jpg') no-repeat; */
    background-size: cover;
    text-align: center;
}
section#portfolio .two {
    width: 50%;
    float: left;
    /* height: 50%; */
    /* background: url('../images/portfolio-thumb2.jpg') no-repeat; */
    background-size: cover;   
}

section#portfolio .three {
    width: 25%;
    float: left;
    /* height: 50%; */
    /* background: url('../images/portfolio-thumb3.jpg') no-repeat; */
    margin-top:25px;
    background-size: cover;
}

section#portfolio .four {
    width: 25%;
    float: left;
    /* height: 50%; */
    /* background: url('../images/portfolio-thumb4.jpg') no-repeat; */
    background-size: cover;
    margin-top:25px;
}

section#portfolio a:hover img, section#portfolio a:hover h3, section#portfolio a:hover p {
    visibility: visible;
    display: block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
section#portfolio a:hover p.bold-text {
    bottom:0;
}
section#portfolio a:hover p.normal-text {
    bottom:-25px;
}
section#portfolio a:hover .bg {
    visibility: visible;
    display: block;
    height: 100%;
    background: rgba(0,0,0,.75);
}

section#portfolio .full {
    padding: 75px 0;
}

section#portfolio .full a.outline {
    display: inline-block;
    margin-top: 15px;
    color: #000;
    -webkit-box-shadow:inset 0px 0px 0px 2px #000;
    -moz-box-shadow:inset 0px 0px 0px 2px #000;
    box-shadow:inset 0px 0px 0px 2px #000;
}


/******** REVIEWS **********/
section#reviews {
    padding: 125px 0;
    text-align: center;
}

section#reviews .w3-bar {
    margin: 35px 0;
}

section#reviews button {
    background: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px;
}


/******** QUALITY **********/
section#quality {
    background: url('../images/bg-quality.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 0 200px 0;
    text-align: center;
}
section#quality img {
    opacity:.8;
}

section#getQuote {
    padding: 35px 0;
    background: #ae1f23;
    border-top:5px solid #dfbc24;
    border-bottom:5px solid #dfbc24;
}
section#getQuote .content {
    display: flex;
    align-items:center;
}

section#getQuote h4 {
    color: #fff;
    float: left;
    max-width: 70%;
    vertical-align: middle;
    font-size: 2.2em;
    margin:0;
    flex: 3;
}

section#getQuote .button {
    float: right;
    width: 30%;
    text-align: center;
    background: #fff;
    color: #ae1f23;
    border: none;
    margin: 0;
}
section#getQuote .button:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}

/******** SUBSCRIBE **********/
section#subscribe {
    padding: 75px 0 ;
    background: #fafafa;
    font-size: .9em;
    text-transform: uppercase;   
}

section#subscribe p {
    font-size: 1em;
}

section#subscribe form {
    margin: 35px 0 0 0;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 20px;
}

section#subscribe input {
    border: none;
    width: 65%;
    font-size: 2em;
    vertical-align: middle;
    background: none;
}

section#subscribe button {
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    max-width: 200px;
    padding: 15px;
    border: none;
    background: #ae1f23;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    cursor: pointer;
    margin-top: -10px;
}

/******** FOOTER **********/
footer {
    padding-top: 100px;
    padding-bottom:75px;
    background-color:#333;
}

.fa-flag:hover {
    color: red;
}
.fa-facebook-square:hover {
    color: red;
}

#footer-social {
    margin-top:35px;
    margin-bottom:35px;
}
#footer-social i {
    font-size: 36px;
    color: #ccc;
    margin-right:10px;
}
#footer-image {
    height:400px;
    background:url('/images/group-photo.jpg');
    background-size:cover;
    background-position: center;
    margin-bottom: 50px;
}
#footer #footer-logo {
    width:200px;
}
#.footer-logos img {
    
}
#footer-left p {
    color:#666;
    margin-top:15px;
    margin-bottom:15px;
}
#footer .links a {
    text-align: left;
    color:white;
    display: block;
    padding:10px 0px;
    margin-bottom:5px;
}
#bottom-bar {
    background-color:#333;
    padding-top:15px;
    padding-bottom:15px;

}
#bottom-bar p {
    color:#666;
    font-size:16px;
    text-align: center;
}
.bottomBar p {
    font-size: .8em;
}

.bottomBar .left {
    float: left;
}

.bottomBar .right {
    float: right;
    text-align: right;
}

.bottomBar .right a, .bottomBar .right a:active {
    color: #ae1f23;
}


/******** NEW SERVICE HEADER IMAGES **********/
#residential #showcase {
    background: url('../images/bg-residential-roofing.jpg') no-repeat center center;
}
#reroof #showcase {
    background: url('../images/bg-reroof.jpg') no-repeat center center;
}
#newroof #showcase {
    background: url('../images/bg-new-roof.jpg') no-repeat center center;
}
#maintenance #showcase {
    background: url('../images/bg-roof-maintenance.jpg') no-repeat center center;
}
#repairs #showcase {
    background: url('../images/bg-roof-repairs.jpg') no-repeat center center;
}
#portfolio #showcase {
    background: url('../images/bg-portfolio.jpg') no-repeat center center;
}

/******** ABOUT PAGE **********/
.inner #showcase {
    color: #fff;
    text-align: center;
}

.inner #showcase h1 {
    font-size: 7em;
    margin: 0 0 50px 0;
}

.inner #showcase hr {
    width: 120px;
    border: none;
    height: 2px;
    background: #ae1f23;
    margin: 0 auto 50px;
}

.inner #showcase p {
    max-width: 725px;
    margin: 0 auto;
}

#about #showcase {
    background: url('../images/bg-about.jpg') no-repeat center center;
}

#about #showcase p {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
}

/******** ABOUT BEST **********/
#about section#best img {
    max-width: 100%;
}

#about section#best {
    text-align: center;
    margin-bottom:0;
    //margin-top:75px;
}
#about #best .text {
    padding:30px 75px 0 75px;
}
#about #best .image {
    padding-right:0;
    padding-left:0;
    //background: url('../images/award-collage.jpg') no-repeat center center;
    background-size:cover;
}
#about #trust .content {
    padding:75px 100px;
}
#about #trust .right {
    background: url('../images/group-photo.jpg') no-repeat left center;
    background-size:cover; 
    min-height: 700px;  
    height:100%;
}

/******** ABOUT ROMAN **********/
hr.red {
    width: 75px;
    border: none;
    height: 1px;
    background: #ae1f23;
    margin: 0 0 45px 0;
}
section#roman {
    background: #f7f7f7;
}

section#roman .left {
    padding: 125px 0;
}
section#roman .left .content {
    margin: 0 auto;
    padding:35px 75px;
}

section#roman .right {
    background: url('../images/bg-roman.jpg') top center no-repeat;
    background-size: cover;
    height: 830px;
}

/******** ABOUT DOGS **********/
section#dogs {
    background: #fff;
}

section#dogs .right {
    padding: 35px 75px;
}

section#dogs .right .content {
    margin: 0 auto;
    padding-top:35px;
}

section#dogs .left {
    background: url('../images/bg-dog.jpg') top center no-repeat;
    background-size: cover;
    height: 830px;
}

/******** ABOUT TEAM **********/
section#team {
    text-align: center;
    padding: 125px 0;
    background: #fafafa;
}

section#team .fourCol {
    display: block;
    width: 90%;
    max-width: 1465px;
    margin: 70px auto 0;
}

section#team .fourCol img.pic {
    margin: 0 0 45px 0;
}

section#team .fourCol h4 img {
    vertical-align: middle;
    max-width: 40px;
    margin: 0 10px 0 0;
}

section#team .fourCol h4 {
    margin-bottom: 15px;
}
section#team .fourCol .col {
    float: left;
    width: 20.5%;
}

section#team .fourCol .one {
    margin-right: 6%;
}

section#team .fourCol .two {
    margin-right: 6%;
}

section#team .fourCol .three {
    margin-right: 6%;
}

section#team .fourCol .four {
    margin-right: 0;
}


/******** ABOUT STATS **********/
section#stats {
    padding: 150px 0;
    background: #fff;
}

section#stats .threeCol {
    width: 90%;
    margin: 0 auto;
    max-width: 1465px;
}

section#stats .threeCol .col {
    float: left;
    width: 30%;
}

section#stats .threeCol .one, section#stats .threeCol .two {
    margin-right: 5%;
}

section#stats .threeCol .three {
    float: right;
}

section#stats .col .icon {
    width: 25%;
    height: 115px;
    float: left;
    padding-bottom: 60px;
}

section#stats .col .stats {
    float: right;
    width: 70%;

}

section#stats h4 {
    font-size: 4em;
    margin-bottom: 10px;
}

section#stats .col p {
    text-transform: uppercase;
    font-size: 1em;
}
section#stats .stat .icon {
    width: 50%;
    height: 115px;
    padding-bottom: 60px;
}

section#stats .one .icon {
    background: url('../images/icon-coffee.jpg') center center no-repeat;
}

section#stats .two .icon {
    background: url('../images/icon-roofs.jpg') center center no-repeat;
}

section#stats .three .icon {
    background: url('../images/icon-smiles.jpg') center center no-repeat;
}

/******** SERVICES **********/
#services {
    background: #f9f9f9;
}

#services h3 {
    font-size:24px;
    color:#999;
}
#services section#showcase {
    background: url('../images/bg-roof-repairs.jpg') center center no-repeat;
}

#services section#specialize {
    padding: 175px 0;
    text-align: center;
}

#services section#specialize h2, #services section#specialize p, #services section#specialize hr {
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
}
/******** ESTIMATE PAGE *********/
#estimate #showcase {
    background: url('../images/bg-financing.jpg') no-repeat center center;
}
#estimate #best {
    padding-top:50px;
    padding-bottom:75px;
}
/******** SKYLIGHTS PAGE *********/
#skylights #showcase {
    background: url('../images/bg-skylights.jpg') no-repeat center center;
}
/******** CONTACT PAGE *********/
#contact #showcase {
    background: url('../images/bg-residential.jpg') no-repeat center center;
}
#contact .sidebar h4 {
    margin-bottom:10px;
}
#contact .sidebar i {
    color:#ae1f23;
}
#contact-form {
    padding-top:65px;
    padding-bottom:65px;
}
/******** RESIDENTIAL *********/
#residential-page #showcase {
    background: url('../images/bg-residential.jpg') no-repeat center center;
}
#residential-page #easy-residential {
    padding: 55px 0 0px;
    background: #fafafa;
    text-align: center;
}
#residential-page #easy-residential .step {
    padding:15px 25px;
    margin-bottom:15px;
}
#easy-residential i {
    margin-bottom:10px;
}
/******** COMMERCIAL *********/
#commercial-page #showcase {
    background: url('../images/bg-commercial.jpg') no-repeat center center;
}
#commercial-page .card {
    margin-bottom:20px;
}
/******** MAINTENANCE *********/
#maintenance-page #showcase {
    background: url('../images/bg-maintenance.jpg') no-repeat center center;
}
/******** WATERPROOF *********/
#waterproof-page #showcase {
    background: url('../images/bg-waterproofing.jpg') no-repeat center center;
}
#waterproof-page #best {
    margin-bottom:75px;
}
/******** REPAIRS *********/
#repairs-page #showcase {
    background: url('../images/bg-repair.jpg') no-repeat center center;
}
#repairs-page #easy-leaks {
    padding: 55px 0 0px;
    background: #fafafa;
    text-align: center;
}
#repairs-page #easy-leaks .step {
    padding:15px 25px;
    margin-bottom:15px;
}
#repairs-page #easy-leaks i {
    margin-bottom:10px;
}
/******** SERVICES ARTICLE **********/
section#article .content {
    background: #fff;
    padding: 0;    
    text-align: center;
}

section#article .top {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

section#article h2 {
    font-size: 5em;
    margin: 0;
}

section#article img {
    width: 100%;
}

section#article .bottom {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
}


section#article hr {
    margin-left: auto;
    margin-right: auto;
}

section#article .bottom h3 {
    font-size: 3em;
}

/******** SERVICES MORE ROOFING **********/
section#more {
    padding: 200px 0;
    text-align: center;
    background: url('../images/bg-more-roofing.png') top center no-repeat;
}

section#more .twoCol {
    width: 90%;
    max-width: 1020px;
    margin: 50px auto 0 auto;
}

section#more .col {
    width: 46%;
    float: left;
}

section#more h4 {
    font-size: 2em;
    margin: 40px auto;
}

section#more .two {
    float: right;
}


/******** FINANCING **********/
#financing section#showcase {
    background: url('../images/bg-financing.jpg') center -30px no-repeat;
    background-size: cover;
}

#financing section.twoCol {
    padding: 125px 0;
    text-align: center;
}

#financing section.twoCol .left {
    max-width: 545px;
}

/******** FINANCING EASY **********/
section#easy {
    padding: 125px 0;
    background: #fafafa;
    text-align: center;
}

section#easy .threeCol {
    margin: 50px 0 0 0;
}

section#easy .threeCol .col {
    width: 30%;
    float: left;
}

section#easy .threeCol .one {
    margin-right: 5%;
}

section#easy .threeCol .two {
    margin-right: 5%;
}

section#easy .threeCol .three{
    float: right;
}

section#easy .threeCol .col .icon {
    background: #fff;
    width: 100%;
    padding: 50px 0;
    margin: 0 0 35px 0;
}

section#easy .threeCol h4 {
    font-size: 2em;
}

#financing section#more .twoCol h4, #financing section#more .twoCol p {
    text-align: left;
}

/******** SERVICES MORE ROOFING **********/
section#hurricane {
    padding: 200px 0;
    text-align: center;
    background: url('../images/hurricane-doria.jpg') top center no-repeat;
}

section#hurricane .twoCol {
    width: 90%;
    max-width: 1020px;
    margin: 50px auto 0 auto;
}

section#hurricane .col {
    width: 46%;
    float: left;
}

section#hurricane h4 {
    font-size: 2em;
    margin: 40px auto;
}

section#hurricane .two {
    float: right;
}

/******** PORTFOLIO **********/
#portfolio section#showcase {
    min-height: 0;
}
#portfolio .light-gallery a {
    width:24.5%;
    display: inline-block;
    margin:0;
}
#portfolio .light-gallery img {
    max-width:100%;
    height:auto;
    margin:0;
}
.lg-toolbar {
    z-index: 200000;
}
#portfolio #showcase .red {
    text-shadow:none;
}
#portfolio section#showcase h1 {
    color: #252223;
    webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;

}

#showcase p.red {
    color: #ae1f23;
}

#showcase .threeCol .col {
    width: 31.5%;
    float: left;
    margin-bottom: 20px;
}

#showcase .threeCol .one {
    margin-right: 2.75%;
}

#showcase .threeCol .two {
    margin-right: 2.75%;
}

#showcase .threecol .three {
    float: right;
}

#portfolio #video-gallery {
    margin-bottom:35px;
}
#portfolio .portfolio-header {
    padding:15px 150px;
    margin-bottom:25px;
}
#portfolio .portfolio-header i {
    margin-bottom:15px;
    color:#ae1f23;
}
.col {
    position: relative;
    overflow: hidden;
}
section#portfolio a {
    overflow: hidden;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    /* transition: 1.5s ease; */
    /* backface-visibility: hidden; */
    /* background-color: #D1632E !important; */
}

.thumbnail {
    width: 100%;
    
    opacity: 0;
    position: absolute;
    top: 100%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
    
}

.col:hover .image {
    opacity: 0.3;
    transform: scale(1.3);
    transition: all .75s;
}

.col:hover .thumbnail {
    opacity: 1;
    top:40%;
    transition: .5s ease;
}

.search-icon {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.bold-text {
    position: absolute;
    /* bottom: -60%; */
    left: 5%;
    width: 90%;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #fff;
}

.normal-text {
    position: absolute;
    /* bottom: -80%; */
    left: 5%;
    width: 90%;
    font-size: 11px !important;
    font-weight: normal !important;
    color: #fff;
}
/******** RESPONSIVENESS **********/
@media screen and (max-width: 1665px) {    

}

@media screen and (max-width: 1420px) {
    section ul.logos {
        height: 175px;
    }
    section#roman .right, section#dogs .left {
        height: 70vh;
    }
    section#team .fourCol h4 {
        font-size: 1.3em;
    }
    section#team .fourCol h4 img {
        max-width: 25px;
    }
    section#stats h4 {
        font-size: 3em;
    }
    section#stats .threeCol .col .icon {
        background-size: cover;
        width: 75px;
        height: 75px;
    }
    section#stats .threeCol .col .stats {
        width: 60%;
    }
    section#more {
        background-size: 100%;
        padding: 120px 0 0 0;
    }
}
@media screen and (max-width: 1320px) {
    section#services .two {
        margin-left: 4.5%;
    }

    section#services .three {
        margin-left: 4.5%;
    }
}

@media screen and (min-width: 1067px) {
    .bold-text {
        bottom: -100%;
    }

    .normal-text {
        bottom: -120%;
    }
}

@media screen and (max-width: 1024px) {
    #topnav .estimate-btn {
        font-size:.8em;
    }
    #topnav .phone-link {
        font-size:.8em;
    }
    h2 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
    }
    .gallery-thumbs .swiper-slide p {
        display:none;
    }
    .gallery-thumbs .swiper-slide i {
        margin-top:25px;
    }
    section#accolade-bar a {
        width:18%;
        display: inline-block;
        padding:1%;
    }
    section#problem {
        padding-bottom: 5px;
    }
    section#services .threeCol {
        margin-top: 50px;
    }
    section#services .col {
        float: left;
    }

    section#services .list {
        padding: 25px;
        min-height: 175px;
    }
    section#services ul li {
        font-size: 1em;
    }
    section#services ul li img {
        max-width: 30px;
    }
    section#services .col h2 {
        font-size: 1.5em;
    }
    section#trusted {
        padding: 75px 0;
    }
    section.twoCol .left {
        width: 45%;
    }
    section.twoCol .right {
        width: 45%;
        float: left;
        margin-left: 5%;
    }
    section#trusted .left {
        padding: 4% 0 0 0;
    }
    section#financing .left {
        padding: 8% 0 0 0;
    }
    section#trusted .right, section#financing .right {
        padding: 8% 0 0 0;
    }
    section#stats .threeCol .col .icon {
        width: 100%;
        background-size: 115px;
        height: 115px;
        margin-bottom: 25px;
    }
    section#stats .threeCol .col .stats {
        text-align: center;
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .navbar-nav {
        //text-align: center;
    }
    .dropdown-content {
        box-shadow: none;
        background: #fff;
    }
    #news .article img {
        max-width:30%
    }
    .responsive {
        width: 100%;
        display: block;
    }
    section.twoCol .left {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    section.twoCol .right {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    section#experience{
        padding: 75px 0;
    }
    section#experience .left {
        padding-top: 25px;
    }
    section#financing {
        padding: 75px 0;
    }
    section#best .left {
        padding-top:30px;
    }
    section#roman .right, section#dogs .left  {
        padding: 125px 0;
        height: 600px;
        height: 100vw;
    }

}

@media screen and (max-width: 768px) {    
    section ul.logos {
        max-width: 600px;
        height: 500px;

    }
    #tab-reviews-content .review {
        max-width:none;
    }
    #nav-contact span {
        float:none;
    }
    section ul.logos li a {       
        width: 47.5%;
        max-width: 250px;
        margin: 0;
    }

    section ul.logos li#bbb a, section ul.logos li#angies a {
        float: right;
    }
    #footer .footer-logos {
        width:50%;
        float:left;
    }
    
    section#services .col {
        float: none;
        width: 90%;
        max-width: 550px;
        margin: 0 auto 80px auto;
    }
    #contactForm {
        margin-bottom:15px;
    }
    section#services .col .shadow {
        max-width: 350px;
    }

    section#services .col img {
        width: 100%;
    }
    section#services .col h2 {
        font-size: 2em;
    }
    section#services .list {
        padding: 35px;
    }
    section#services ul li {
        font-size: 1.5em;
    }
    section#services ul li img {
        max-width: 50px;
        vertical-align: middle;
    }
    section#getQuote h4 {
        width: 90%;
        max-width: 100%;
        float: none;
        margin: 0 auto 35px auto;
        font-size: 2em;
        text-align: center;
    }
    section#getQuote .button {
        display: block;
        width: 90%;
        max-width: 450px;
        float: none;
        margin: 0 auto;
    }
    #portfolio .portfolio-header {
        max-width:none;
        padding:25px;
    }
    #portfolio .light-gallery a {
        width:32.5%;
    }
    #about section#best {
        padding: 75px 0 ;
    }
    section#best .left, section#best .right, section#roman .left, section#roman .right, section#dogs .left, section#dogs .right, #about #trust .right, #about #trust .left {
        float: none;
        width: 100%;
        padding: 0 5%;
        text-align: center;
        max-width:none;
    }
    section#best .right {
        margin-top: 50px;
    }
    section#roman .left {
        padding: 50px 0;
    }
    hr.red {
        margin: 0 auto 45px auto;
    }
    section#team .fourCol img.pic {
        margin-bottom: 20px;
    }
    section#team .fourCol {
        margin: 0 auto;
    }
    section#team .fourCol .col {
        width: 47%;
        margin: 25px 0 0 0;
    }
    section#team .fourCol .two, section#team .fourCol .four {
        float: right;
    }
    section#stats {
        padding: 75px 0;
    }
    section#stats .threeCol .col {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 80px;
    }
    section#easy .threeCol .col {
        float: none;
        width: 90%;
        margin: 0 auto 70px auto;
    }
    section#easy .threeCol .col .icon { 
        margin: 0px 0 15px 0; 
        max-width: 300px;
        padding: 75px 0;
        margin: 0 auto 25px auto;
    }
    section#more .twoCol .col {
        float: none;
        width: 90%;
        margin: 0 auto 70px auto;
    }
    section#more h4 {
        margin: 15px 0 35px 0;
    }
    .inner #showcase {
        padding: 170px 0;
    }
    .inner #showcase h1, .gallery-top h1 {
        font-size: 3.5em;
    }
    .inner #showcase p, .gallery-top p {
        font-size: 1.65em;
    }
    #home-swiper-container {
        height:700px;
    }
    .gallery-top {
        height:90%;
    }
    .gallery-top hr {
        margin-bottom:20px;
    }
    .gallery-thumbs {
        height:10%;
    }
    .gallery-thumbs i {
        font-size:21px;
        margin-top:20%;
    }
    section#more {
        padding: 100px 0 0 0;
    }
}


@media screen and (max-width: 600px) {
    .topnav a.icon {
        float: right;
        display: block;
    }
    section#accolade-bar a {
    width:20%;
    padding:1%;
    }
    #home section#showcase a.button {
        width: 90%;
        float: none;
        display: block;
        margin: 0 auto 35px auto;
    }
    #home #showcase p.bottom {
        margin: 100px 0 0 0;
    }
    section#subscribe .content {
        width: 90%;
    }    
    section#subscribe input {
        font-size: 1.5em;
    }
    .bottomBar .left, .bottomBar .right {
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .bottomBar .right {
        margin-top:15px;
    }
    section#more {
        background-image: none;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {   
    section#subscribe form {
        margin: 10px 0 0 0;
    }
    section#subscribe input {
        width: 100%;
        display: block;
        border-radius: 5px;
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px;
        background: #fff;
        padding: 15px;
    }
    section#subscribe button {
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 15px 0 0 ;
    }
}

img.lazyload {
    display: block;
}
