@media screen and (max-width: 1199px){
    .news{
        .news-carousel.owl-carousel.owl-theme{
            .item{
                img{
                    height: auto;
                }
            }
        }
    }
}
