.estimate{
    form{
        padding: 60px 40px;
        box-shadow: 0 0px 15px rgb(153 153 153 / 50%);

        .form-group, .dropdown{
            margin-bottom: 32px;
        }

        .dropdown{
            .dropdown-menu.show{
                right: 0;

                .roof-material{
                    display: flex;
                    justify-content: center;

                   .material-type{
                       display: flex;
                       flex-basis: 20%;
                       align-items: center;

                       input[type=checkbox]{
                           margin-right: 10px;
                       }

                       label{
                           margin-bottom: 0;
                       }
                   }
                }
            }
        }
    }
}
