//Colors CSS
.clr-primary-maroon{
    color: #ae1f23;
}

.clr-blue-fb{
    color: #1877f2;;
}
.clr-gradient-instagram{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clr-red-youtube{
    color: #ff0000;
}

.clr-blue-twitter{
    color: #1da1f2;
}

.primary-grey{
    color: #515151;
}

.primary-black{
    color: #333333;
}
//Background Color CSS{
.bg-primary-maroon{
    background-color: #ae1f23;
}

.bg-primary-black{
    background-color: #333333;
}

.bg-black{
    background-color: #000000;
}

.bg-grey{
    background-color: #f8f8f8;
}

.bg-grey-2{
    background-color: #ecf0f1;
}

.bg-blue-fb{
    background-color: #1877f2;
}
.bg-gradient-instagram{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.bg-red-youtube{
    background-color: #ff0000;
}

.bg-blue-twitter{
    background-color: #1da1f2;
}


//Gradient CSS
.bg-golden-gradient{
    background: linear-gradient(to right, #a6802d 0%, #85702b 30%, #dbb924 60%, #a6802d,#ddac3a 100%, #a6802d, #5c411c 100%);
}

.inner-page-banner-gradient{
    position: relative;

    &:before{
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, rgba(174, 31, 35, 0.8) 26%, rgba(000, 000, 000, 0.8));
    }
}

.gradient-black-light{
    position: relative;

    &:before{
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, rgba(0, 0, 0,0.4) 26%, rgba(0, 0, 0, 0.4));
    }
}
