//Width CSS Section

.wd-150{
    width: 150px;
}

//Width CSS Section End

//Max Width CSS Section

.max-wd-80P{
    max-width: 80%;
}

//Shapes CSS
.fancy-border {
    position: relative;
    width: 8px;
    height: 8px;
    background: linear-gradient(to right, #a6802d 0%, #85702b 30%, #dbb924 60%, #a6802d,#ddac3a 100%, #a6802d, #5c411c 100%);
    border-radius: 50%;
    margin: 0 auto;

    &:before{
        content: '';
        position: absolute;
        background-color: #ae1f23;
        height: 1px;
        width: 80px;
        right: 100%;
        top: 4px;
        margin-right: 20px;
    }

    &:after{
        content: '';
        position: absolute;
        background-color: #ae1f23;
        height: 1px;
        width: 80px;
        left: 100%;
        top: 4px;
        margin-left: 20px;
    }
}
//Images CSS
.img-full-width-height{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.object-fit-cover{
    object-fit: cover;
}

//Custom Names

.resize-none{
    resize: none;
}

.reset-list{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

//Padding CSS

.p-b-160{
    padding-bottom: 160px;
}
