$spaces: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,
         45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,
         86,87,88,89,90,91,92,93,94,95,96,97,98,99,100;

//Padding CSS Classes
@each $space in $spaces{
    //Padding All Sides

    .p-#{$space}{
        padding: #{$space}px !important;
    }

    //Padding All Sides End

   //Padding-Top CSS Classes
    .p-t-#{$space}{
        padding-top: #{$space}px !important;
    }

    //Padding-Bottom CSS Classes
    .p-b-#{$space}{
        padding-bottom: #{$space}px !important;
    }

    //Padding-Right CSS Classes
    .p-r-#{$space}{
        padding-right: #{$space}px !important;
    }

    //Padding-Left CSS Classes
    .p-l-#{$space}{
        padding-left: #{$space}px !important;
    }

    //Padding Left & Right CSS Classes
    .p-x-#{$space}{
        padding-left: #{$space}px !important;
        padding-right: #{$space}px !important;
    }

    //Padding Top & Bottom CSS Classes
    .p-y-#{$space}{
        padding-top: #{$space}px !important;
        padding-bottom: #{$space}px !important;
    }

    //Margin CSS Classes

    //Margin-Bottom CSS Classes
    .m-b-#{$space}{
        margin-bottom: #{$space}px !important;
    }

    //Margin-Top CSS Classes
    .m-t-#{$space}{
        margin-top: #{$space}px !important;
    }

    //Margin-Right CSS Classes
    .m-r-#{$space}{
        margin-right: #{$space}px !important;
    }

    //Margin-Left CSS Classes
    .m-l-#{$space}{
        margin-left: #{$space}px !important;
    }

    //Margin Left & Right CSS Classes
    .m-x-#{$space}{
        margin-left: #{$space}px !important;
        margin-right: #{$space}px !important;
    }

    //Margin Top & Bottom CSS Classes
    .m-y-#{$space}{
        margin-top: #{$space}px !important;
        margin-bottom: #{$space}px !important;
    }
}
