.roof-service-left{
   .roof-service-benefits{
       .media{
           span{
               display: inline-block;
               color: #333333;
               background: #ecf0f1;
               width: 45px;
               height: 45px;
               line-height: 45px;
               font-size: 20px;
               text-align: center;
               border-radius: 50%;
               margin-right: 12px;
               transition: all .4s ease;
           }

           &:hover{
               span{
                   color: #ffffff;
                   background-color: #ae1f23;
               }
           }
       }
   }
}

.roof-service-sidebar{
    .all-services-list{
        padding: 20px 30px;
        border: 1px solid #adb5bd;
        border-radius: 5px;

        ul{
            li{
                border-bottom: 1px solid #adb5bd;

                a{
                    display: block;
                    color: #333333;
                    background: #ffffff;
                    font-size: 20px;
                    padding: 15px 0;


                    i{
                        margin-right: 8px;
                        transition: all .4s ease;
                    }

                    &:hover{
                        color: #ae1f23;

                        i{
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    .get-in-touch{
        background-color: #ae1f23;
        padding: 40px 30px 60px;
        border-radius: 5px;

        ul{
            li{
                display: flex;
                margin-bottom: 20px;

                a,p,i{
                    color: #ffffff;
                }
                a{
                    display: inline-block;
                }

                i{
                    margin: 4px 10px 0 0;
                }
            }
        }
    }

    .appointment{
        position: relative;
        text-align: center;
        border-radius: 5px;

        img{
            border-radius: 5px;
        }

        .appointment-content{
            position: absolute;
            top: 45%;
            right: -1px;
            bottom: 0;
            left: 0;
            background-color: #ae1f23;
            padding: 95px 0 0 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 100%);
        }
    }
}
