.contact{
    .contact-form-wrapper{
        padding: 60px 40px;
        box-shadow: 0 0px 15px rgb(153 153 153 / 50%);

        .contact-us-left{
            form{
                .form-control{
                    margin-bottom: 32px;
                }
            }
        }
        .contact-us-right{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contact-options{

                a{
                    display: inline-block;
                    color: #333333;

                    i{
                        display: inline-block;
                        color: #ffffff;
                        background: #ae1f23;
                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        font-size: 14px;
                        margin-right: 20px;
                    }

                }
            }
        }
    }
}
