.awards{
    .awards-carousel.owl-carousel.owl-theme{

        .owl-stage{
            display: flex;
            align-items: center;
        }
        .owl-nav{
            display: none;
        }
        .owl-dots{
            display: none;
        }
    }
}
