.banner-title {
    font-size: 72px;
    font-weight: 600;
    color: #f4f5f9;
}
.banner-description{
    color: #ffffff;
    margin-top: 35px;
    font-size: 35px;
    line-height: 1.2;
}
.banner{
    position: relative;
    height: calc(100vh - 24px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: -99px;
    padding: 99px 0 138px 0;

    &-btns{
        margin-top: 70px;
    }

    &-content{
        position: relative;
        top: 25%;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(000,000,000,.75);
    }

    .banner-carousel.owl-carousel.owl-theme{
        position: relative;

        .owl-nav{
            position: absolute;
            z-index: 0;
            width: 100%;
            top: 40%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;

            button.owl-prev, button.owl-next{
                transition: all ease .4s;
                color: #ffffff;
                width: 37px;
                height: 37px;
                line-height: 37px;
                background-color: rgba(255, 255, 255, 0.3);

                span{
                    transition: all ease .4s;
                    font-size: 30px;
                    color: #000000;
                }

                &:hover{
                    background-color: #ae1f23;
                    span{
                        color: #ffffff;
                    }
                }
            }
        }
        .owl-dots{
            display: none;
        }
    }
}
