footer{
    .messenger-link{
        position: relative;
        z-index: 10;
        transition: all ease .4s;
        opacity: 0;

        &:hover{
            p.msg-us{
                bottom: 19%;
                opacity: 1;
            }
        }
        p.msg-us{
            position: fixed;
            transition: all ease .4s;
            color: #ae1f23;
            font-weight: 700;
            right: 2%;
            bottom: 0;
            opacity: 0;
        }
        .msg-btn-wrapper{

            position: fixed;
            bottom: 9%;
            right: 3%;


            a.msg-btn{
                display: inline-block;
                width: 50px;
                height: 50px;
                font-size: 18px;
                color: #ffffff;
                background: #ae1f23;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
    .footer-bottom{
        h4{
            color: #ffffff;
            margin-bottom: 30px;
        }

        .footer-bottom-mid{
            ul.footer-contact{
                li{
                    display: flex;
                    margin-bottom: 20px;

                    a,p,i{
                        color: #ffffff;
                    }
                    a{
                        display: inline-block;
                    }

                    i{
                        margin: 4px 10px 0 0;
                    }
                }
            }
        }
        .footer-bottom-right{
            form{

                input,textarea{
                    border: 0;
                }
                textarea{
                    resize: none;
                }
                button{
                    background-color: #ae1f23;
                    border: 1px solid #ae1f23;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-bottom-bar{
        .copyrights{
            ul{
                li{
                    display: inline-block;
                    color: #ffffff;
                }
            }
        }

        ul.footer-social-icons{
            text-align: right;
            li{
                display: inline-block;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    display: inline-block;
                    font-size: 14px;
                    color: #ffffff;
                    border: 1px solid #333333;
                    background-color: #333333;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 5px;
                    transition: all ease .4s;

                    &:hover{
                        color: #ffffff;
                        border: 1px solid #ffffff;
                        background-color: transparent;
                    }
                }
            }
        }
    }

}
