.hamburger--stand-r{

    .hamburger-inner{
        background-color: #ae1f23;
        &:before, &:after{
            background-color: #ae1f23;
        }
    }
}
.hamburger--stand-r.is-active{
    .hamburger-inner{
        background-color: #ae1f23;

        &:before, &:after{
            background-color: #ae1f23;
        }
    }
}
.top-bar{
    position: relative;
    padding: 5px 0;
    z-index: 2;
    .contact-options{
        ul{
            li{
                display: inline-block;
                font-size: 13px;
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }
                a{
                    display: inline-block;
                    color: #ffffff;
                }
                i{
                    margin-right: 3px;
                    color: #ffffff;
                }
            }
        }
    }
    .top-bar-reviews-link{
        a{
            display: inline-block;
            color: #ffffff;

            span.top-bar-star{
                color: #ffdf29;
            }

        }
    }
}
.main-menu{
    position: relative;
    padding: 10px 0;
    background-color: rgba(000,000,000,.2);
    z-index: 5;

    .menu-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar.navbar-light{
            width: 80%;
            padding: 8px 0;

            .navbar-collapse{
                justify-content: center;

                .navbar-nav{
                    .active{
                        .nav-link{
                            color: #ae1f23;
                        }
                    }
                    .nav-link{
                        color: #ffffff;
                    }
                    .dropdown{
                        .dropdown-menu{
                            ul{
                                li{
                                    font-size: 14px;
                                    padding: 10px;
                                    cursor: pointer;
                                    a{
                                        color: #333333;

                                        i{
                                            color: #333333;
                                            margin-right: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.fixed-top{
    position: fixed;
    padding: 15px 0;
    background-color: #ffffff;
    width: 100%;
    top: 34px;
    z-index: 50;
    box-shadow: 0 0 1.8rem rgb(0 0 0 / 15%);
}

.main-menu-secondary{
    padding: 15px 0;
    background-color: #ffffff;

    .menu-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar.navbar-light{
            width: 80%;
            padding: 8px 0;

            .navbar-collapse{
                justify-content: center;

                .navbar-nav{
                    .nav-link{
                        color: #333333;
                    }

                    .active{
                        .nav-link{
                            color: #ae1f23;
                        }
                    }

                    .dropdown{
                        .dropdown-menu{
                            ul{
                                li{
                                    font-size: 14px;
                                    padding: 10px;
                                    cursor: pointer;
                                    a{
                                        color: #333333;
                                    }
                                    i{
                                        color: #333333;
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-menu-fixed{
    position: fixed;
    padding: 15px 0;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    z-index: 5;
    display: none;
    box-shadow: 0 0 1.8rem rgb(0 0 0 / 15%);

    .menu-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar.navbar-light{
            width: 80%;
            padding: 8px 0;

            .navbar-collapse{
                justify-content: center;

                .navbar-nav{
                    .nav-link{
                        color: #333333;
                    }

                    .active{
                        .nav-link{
                            color: #ae1f23;
                        }
                    }

                    .dropdown{
                        .dropdown-menu{
                            ul{
                                li{
                                    font-size: 14px;
                                    padding: 10px;
                                    a{
                                        color: #333333;
                                    }
                                    i{
                                        color: #333333;
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
