.portfolio{
    .project{
        position: relative;
        .project-description{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 100%;
            left: 0;
            background-color: rgba(000,000,000,.8);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all ease .4s;
        }

        &:hover{
            .project-description{
                bottom: 0;
                opacity: 1;
            }
        }
    }
}
