.service-card{
    position: relative;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 11px rgba(0,0,0,0.10);
    transition: all ease .4s;

    &-header{
        padding: 40px 0 20px;
        i{
            font-size: 70px;
        }
    }
    &-body{
        padding: 0 15px 40px;

        .service-card-description{
            color: #515151;
        }

        .service-card-title{
            font-weight: 600;
            color: #333333;
        }

        .service-card-btn{
            display: inline-block;
            background-color: #ae1f23;
            color: #ffffff;
            padding: 5px 15px;
            border-radius: 5px;
            text-decoration: none;
            &:hover{
                background-color: #ae1f23;
                color: #ffffff;
            }
        }
    }

    &:hover{
        background-color: #ae1f23;
        box-shadow: 0 0 11px rgba(174,31,35,0.80);
        margin-top: -10px;
        .service-card-header{
            i{
                font-size: 63px;
                color: #ffffff;
            }
        }
        .service-card-title{
            color: #ffffff;
        }
        .service-card-description{
            color: #ffffff;
        }
        .service-card-btn{
            background-color: #ffffff;
            color: #ae1f23;
        }
    }
}
