.stats{
    .stats-wrapper{
        display: flex;
        justify-content: space-between;
        .stat-box{
            position: relative;
            text-align: center;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25%;

            .stat-icon{
                font-size: 100px;
                color: #333333;
            }

            .stat-count{
                font-size: 28px;
                color: #333333;
                margin: 0;
            }

            .stat-label{
                font-weight: 600;
            }

            &:after{
                content: "";
                position: absolute;
                width: 1px;
                top: 25%;
                right: 0;
                bottom: 25%;
                left: 100%;
                background-color: #c1c1c1;
            }
        }

        .stat-box{
            &:last-child{
                &:after{
                  display: none;
                }
            }
        }
    }
}
