.testimonials{
    .testimonials-carousel.owl-carousel.owl-theme{
        position: relative;
        .owl-nav{
           display: none;
        }
        .owl-dots{
            position: absolute;
            right: 0;
            top: 70%;

            .owl-dot{
                span{
                    width: 12px;
                    height: 5px;
                    margin: 5px 4px;
                }
            }
            .owl-dot.active{
                span{
                    width: 30px;
                    height: 5px;
                    background-color: #ae1f23;
                    margin: 5px 4px;
                    transition: all ease .4s;
                }
            }
        }
    }

    .feedback-text-box{
        position: relative;
        border-radius: 5px;
        margin-bottom: 50px;
        border: 1px solid #adb5bd;

        &:before{
            content: "";
            position: absolute;
            top: 100%;
            right: 87%;
            bottom: -17%;
            left: 9%;
            background-color: #adb5bd;
            clip-path: polygon(100% 0, 100% 3%, 3% 100%, 0% 100%);
        }

        &:after{
            content: "";
            position: absolute;
            top: 100%;
            right: 87%;
            bottom: -17%;
            left: 9%;
            background-color: #f8f8f8;
            border-left: 1px solid #adb5bd;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }
    .quote-icon{
        display: inline-block;
        background: transparent;
        color: #515151;
        padding: 10px;
    }

    .customer-feedback{
        padding: 10px 36px;

        .read-more-review-btn{
            display: inline-block;
            color: #515151;
            font-weight: 700;
        }
    }
    .customer-info{
        padding: 0 36px;

        .media{
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }
            .media-body{
                .customer-name{
                    font-size: 20px;
                    font-weight: 600;
                    color: #333333;
                }
                .rating-stars{
                    i{
                        color: #ffdf29;
                    }
                }
            }
        }
    }

    .gallery.group-gallery{
        display: flex;
        background: none;

       & > section{
           margin-right: 15px;

           div{
               margin-bottom: 20px;

               a{
                   display: inline-block;
               }
               background: none;
               border: 0;
           }

           & > div:nth-of-type(n+2){
               display: none;
           }
       }
    }
}

