.parallax-img-city{
    background-attachment: fixed;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-timberline{
    width: 150px !important;
}
.city-intro{
    .city-service-info{
        p{
            padding: 10px 50px;
        }
    }
}
.city-services{

    .services{
        .service-type{
            box-shadow: 0 0 11px rgb(0 0 0 / 10%);
            transition: all ease .4s;

            a{
                display: block;
                color: #333333;
                font-size: 24px;
                text-align: center;
                font-weight: 700;
                padding: 10px;
            }

            &:hover{
                margin-top: -10px;
                background-color: #ae1f23;
                box-shadow: 0 0 11px rgba(174,31,35,0.80);

                a{
                    color: #FFFFFF;
                }
            }
        }
    }
}

.city-roofing-varieties{
    .city-roofing-variety-cards{
        margin-top: 80px;

        .card{
            border: 0;
            border-radius: 3px;
            box-shadow: 0 0 11px rgb(0 0 0 / 10%);
            transition: all ease .4s;

            &:hover{
                margin-top: -10px;
                box-shadow: 0 0 11px rgba(174,31,35,0.80);

                .card-body{
                    background: #ae1f23;
                    color: #FFFFFF;
                    transition: all ease .4s;
                }
            }
        }
    }
}

.city-service-reviews{
    .city-reviews-carousel.owl-carousel.owl-theme{
        position: relative;

        .item{
            margin: 10px;
            padding: 20px;
            box-shadow: 0 0 11px rgb(0 0 0 / 10%);

            .city-job-bio{
                border: 1px solid lightgray;

                .city-manufacturer-info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 20px 10px;

                    img{
                        display: inline-block;
                        width: 50px;
                    }
                    span{
                        font-size: 20px;
                    }
                }
            }

            .reviewer-info{
                .media{
                    margin-bottom: 30px;

                    img{
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                        margin-right: 15px;
                    }

                    .media-body{
                        .stars{
                            margin-top: 20px;
                            i{
                                font-size: 60px;
                                color: #ffdf29;
                            }
                        }
                    }
                }

                .review-source{
                    text-align: right;
                }
            }
        }

        .owl-nav{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;

            button.owl-prev, button.owl-next{
                transition: all ease .4s;
                color: #ffffff;
                width: 37px;
                height: 37px;
                line-height: 37px;
                background-color: #ae1f23;

                span{
                    transition: all ease .4s;
                    font-size: 30px;
                    color: #FFFFFF;
                }
            }

            button.owl-prev{
                position: relative;
                left: -10%;
            }
            button.owl-next{
                position: relative;
                right: -10%;
            }
        }
    }
}
