
.left-finance-img-description{
    position: relative;
    z-index: 2;
    padding: 50px;
    height: 100%;
    margin-top: 80px;
    margin-left: -100px;
    background-color: #ffffff;
    box-shadow: 0 0px 15px rgb(153 153 153 / 50%);
}

.right-finance-img-description{
    position: relative;
    z-index: 2;
    padding: 50px;
    height: 100%;
    margin-top: 80px;
    margin-right: -100px;
    background-color: #ffffff;
    box-shadow: 0 0px 15px rgb(153 153 153 / 50%);
}

.financing{
    &-wrapper{
        .left-img{
            img{
                width: 100%;
                max-width: 100%;
            }
        }

    }
}

.active-returns{
    &-wrapper{
        .right-img{
            img{
               width: 100%;
               max-width: 100%;
           }
        }
    }
}

.low-payments{
    &-wrapper{
        .left-img{
            img{
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
.advantages{
    .advantages-wrapper{
        .advantage-box{
            text-align: center;
            padding: 60px 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0px 15px rgb(153 153 153 / 50%);
            transition: all ease .4s;

            .advantage-icon{
                margin-bottom: 10px;
                i{
                    font-size: 60px;
                }
            }
            .advantage-title{
                h4{
                    color: #333333;
                    font-size: 28px;
                    font-weight: 600;
                }
            }

            &:hover{
                background-color: #ae1f23;
                margin-top: -10px;
                box-shadow: 0 0 11px rgb(174 31 35 / 80%);

                .advantage-icon{
                    i{
                        color: #ffffff;
                    }
                }
                .advantage-title{
                    h4{
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
