.founders{
    .founder-img{
       img{
           max-width: 80%;
       }
    }
    .founder-info{
        text-align: justify;
    }
}

.team-carousel.owl-carousel.owl-theme{
    .item{
        box-shadow: 0 0px 5px rgb(153 153 153 / 50%);

        .card{
            border: 0;

            img{
                width: 175px;
                padding: 30px 0 0 0;
                margin: 0 auto;
            }

            .card-body{
                text-align: center;
                padding: 30px 15px;

                .card-title{
                    margin: 0;
                }
            }

        }
    }

    .owl-stage{
        padding: 2px;
    }

    .owl-nav{
        button{
            font-size: 30px;
            color: #ae1f23;

            &hover{
                background-color: transparent;
            }
        }
    }
    .owl-nav [class*=owl-]:hover {
        background: transparent;
        color: #ae1f23;
        text-decoration: none;
    }
}
