//All Jobs  CSS

.jobs{
    .jobs-wrapper{
        .card{
            margin-bottom: 40px;
            border: 0;
            box-shadow: 0 0px 15px rgb(153 153 153 / 50%);

            .card-header{
                background-color: #ffffff;
            }
            .card-header, .card-body{
                padding: 30px;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

//All Job CSS End

//Single Job CSS



//Single Job CSS End
