//Apply position Relative to the direct parent of these classes
.news-content-lg{
    position: absolute;
    bottom: 0;
    padding: 20px 40px;
}

//Apply position Relative to the direct parent of these classes End
.news .item, .thumbnail, .popular-post__full-width, .popular-post__col-half-img, .editors-choice-img, .full-news-img {
    overflow: hidden;
    img{
        object-fit: cover;
        transition: all .4s ease;
    }
    &:hover{
        img{
            transform: scale(1.09);
        }
    }
}

//Custom Classes

.news-bar{
    margin: 25px 0;
    background-color: #ae1f23;
    padding: 10px 20px;

    a, h6{
        display: block;
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 0;
    }
}


p.news-overview{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
//Custom Classes End

.news{
    .news-carousel.owl-carousel.owl-theme{
        position: relative;

        .item{
            position: relative;

            img{
                height: calc(100vh - 177px);
                object-fit: cover;
                transition: all .4s ease;
            }
        }

        .owl-nav{
            position: absolute;
            width: 100%;
            top: 40%;
            display: flex;
            justify-content: space-between;

            button.owl-prev, button.owl-next{
                color: #ffffff;
                background-color: #ae1f23;
                padding: 4px 20px !important;
                margin: 0;
                border-radius: 0;

                span{
                    font-size: 24px;
                }
            }
        }
    }



}


.news-wrapper{
    .news-left-top{
        .news-box{
            margin-bottom: 20px;

            .news-summary{
                position: relative;
                padding: 20px;

                a.btn-primary-roman{
                    position: absolute;
                    bottom: 7%;
                    font-size: 13px;
                    padding: 5px 15px;
                }

            }

            &:last-child{
                margin-bottom: 0;
            }

            &:hover{
                img{
                    object-fit: cover;
                    transform: scale(1.09);
                }
            }
        }
    }

    .news-left-bottom{
        .popular-post__full-width{
            position: relative;
            margin-bottom: 20px;

            img{
                object-fit: cover;
                transition: all .4s ease;
            }
        }
    }
}

//Common Sidebar CSS

.news-left-top, .news-left-bottom, .news-right-top, .news-right-bottom{
    background-color: #ffffff;
    padding: 20px;
}

.news-right-bottom{
    .social-links{
        ul{
            li{
                margin-bottom: 10px;

                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #ffffff;
                    padding: 10px;

                    span.icon{
                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        font-size: 14px;
                        background: white;
                        margin-right: 10px;
                    }

                    span.likes, span.invitation{
                        font-size: 14px;
                        padding-left: 10px;
                        margin-right: 10px;
                        border-left: 1px solid #ffffff;
                    }

                    span.invitation{
                        margin-right: 0;
                    }

                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

//Full News CSS

.full-news-wrapper, .full-news-sidebar{
    padding: 20px;
    background-color: #ffffff;
}

.full-news{
    .full-news-wrapper{
        overflow: hidden;
    }
}
