.portfolio-gallery{

    ul.filter-list-menu{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;

        li{
            display: inline-block;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }

            button{
                background-color: transparent;
                color: #515151;
                padding: 2px 20px;
                border: 0;
                transition: all ease .4s;
                &:focus{
                    outline: 0;
                }
            }
            button.active{
                color: #ffffff;
                background: #ae1f23;
                border-radius: 5px;
            }
        }
    }

    .grid{
        .grid-item{

            img{
                width: 100%;
            }

            a.full-image-btn{
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                .grid-item-detail{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 100%;
                    background: rgba(000,000,000,.8);
                    opacity: 0;
                    padding: 50px 30px;
                    transition: all ease .4s;
                }

                &:hover{
                    .grid-item-detail{
                        bottom: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//VBox Plugin CSS

.vbox-prev{
    left: 3%;
}
.vbox-next{
    right: 4%;
}
.vbox-content.vbox-animated{
    position: relative;
}
