@media screen and (max-width: 767px) {
    .left-finance-img-description{
        margin-left: 0;
    }
    .right-finance-img-description{
        margin-right: 0;
    }
    .advantage-box{
        margin-bottom: 35px;
    }
}
